<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./assets/image/20250614_180036.png" type="image/x-icon">
    <link rel="stylesheet" href="./assets/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./assets/icons/css/all.css ">
    <link rel="stylesheet" href="./assets/css/index.css">
    <link rel="stylesheet" href="./assets/css/media.css">
            <!-- AOS CSS -->
    <link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css" />
    <title>Ai powered e-learning platform</title>
</head>
<body>


    <!-- =========================== sidebar section ========================== -->
  <nav id="sidebar">
      <div class="side-content">
      <div class="side-logo py-2">
          <img width="150" src="./assets/image/logo.png" alt="">
      </div>
          <div class="middle">
            <div class="side-line"></div>
              <div class="side-right margin">
                  <div class="side-item mb-3">
                      <a href="./index.html">Home</a>
                  </div>
                  <div class="side-item mb-3">
                      <a href="./about.html">About</a>
                  </div>
                  <div class="side-item mb-3">
                      <a href="./courses.html">Courses</a>
                  </div>
                  <div class="side-item mb-3">
                      <a href="#">Contact Us</a>
                  </div>
                  
                    <div class="nav-cta">
                        <a href="./login.html">
                            <button class="main-btn w-100">Sign In</button>
                        </a>
                    </div>
              </div>
          </div>
      </div>
  </nav> 
<!-- =========================== end of sidebar section ========================== -->

    <!-- ================================== navbar section ================================ -->
    <section class="all-navbar">
        <div class="navbar-content margin">
                <div class="nav-left">
                    <img width="50" src="./assets/image/logo.png" alt="">
                </div>
                <div class="nav-right">
                    <a href="./index.html">Home</a>
                    <a href="./about.html">About</a>
                    <a href="./courses.html">Courses</a>
                    <a href="">Contact Us</a>
                    <div class="nav-cta">
                        <a href="./login.html">
                            <button class="main-btn">Sign In</button>
                        </a>
                    </div>
                </div>
                <div id="bars">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
        </div>
    </section>
    <!-- ================================== end of navbar section ================================ -->

    <!-- ========================================= hero section ================================ -->
     <section class="all-hero">
        <div class="about-header">
            <h1>COURSES</h1>
        </div>
     </section>
    <!-- ========================================= end of hero section ================================ -->


    <!-- ================================ about section ======================================== -->
    <section class="courses py-5">
        <div class="course-content margin">
            <div class="first-course" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">
                <img src="./assets/image/Python-Image.jpg" alt="">
                <div class="first-course-details">
                    <div class="google">
                        <img src="./assets/image/google.png" alt="">
                        <label>Google</label>
                    </div>
                    <h5>Python for Data Science, AI & Development</h5>
                    <h6 class="descript"><i class="fa fa-award"></i> Build toward a degree</h6>
                    <p><i class="fa fa-star"></i> 4.6 <span>41K reviews</span></p>
                </div>
            </div>
            <div class="first-course" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">
                <img src="./assets/image/Python-Image.jpg" alt="">
                <div class="first-course-details">
                    <div class="google">
                        <img src="./assets/image/google.png" alt="">
                        <label>Google</label>
                    </div>
                    <h5>Python for Data Science, AI & Development</h5>
                    <h6 class="descript"><i class="fa fa-award"></i> Build toward a degree</h6>
                    <p><i class="fa fa-star"></i> 4.6 <span>41K reviews</span></p>
                </div>
            </div>
            <div class="first-course" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">
                <img src="./assets/image/Python-Image.jpg" alt="">
                <div class="first-course-details">
                    <div class="google">
                        <img src="./assets/image/google.png" alt="">
                        <label>Google</label>
                    </div>
                    <h5>Python for Data Science, AI & Development</h5>
                    <h6 class="descript"><i class="fa fa-award"></i> Build toward a degree</h6>
                    <p><i class="fa fa-star"></i> 4.6 <span>41K reviews</span></p>
                </div>
            </div>
            <div class="first-course" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">
                <img src="./assets/image/Python-Image.jpg" alt="">
                <div class="first-course-details">
                    <div class="google">
                        <img src="./assets/image/google.png" alt="">
                        <label>Google</label>
                    </div>
                    <h5>Python for Data Science, AI & Development</h5>
                    <h6 class="descript"><i class="fa fa-award"></i> Build toward a degree</h6>
                    <p><i class="fa fa-star"></i> 4.6 <span>41K reviews</span></p>
                </div>
            </div>
        </div>
    </section>
    <!-- ================================ end of about section ======================================== -->


    <script src="./assets/js/home-sidebar.js"></script>
    <script src="./assets/js/index.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
    AOS.init(); // Initialize AOS
    </script>
</body>
</html>