<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./assets/image/20250614_180036.png" type="image/x-icon">
    <link rel="stylesheet" href="./assets/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./assets/icons/css/all.css ">
    <link rel="stylesheet" href="./assets/css/register.css">
    <title>Reset Password</title>
</head>
<body>
    <section class="all-register">
        <div class="register-content margin">
            <div class="register-left">
                <div class="register-logo mb-5">
                     <a href="./index.html">
                        <img width="100" src="./assets/image/logo.png" alt="">
                    </a>
                </div>
                <div class="register-head mb-4">
                    <h4>Reset Password</h4>
                    <p>Create new Password.</p>
                </div>
                <form action="">
                    <label for="password">New Password</label>
                    <div class="register-input mb-3">
                        <input id="password" type="password" name="password" placeholder="New password">
                        <span class="eye-icon"><i class="far fa-eye-slash " onclick="togglePasswordVisibility()"></i></span>
                    </div>
                    <label for="password">Confirm Password</label>
                    <div class="register-input mb-4">
                        <input id="con-password" type="password" name="password" placeholder="Confirm password">
                        <span class="eye-visible"><i class="far fa-eye-slash " onclick="togglePassword()"></i></span>
                    </div>
                    <div class="register-cta mb-3">
                        <a href="">
                            <button type="button" class="main-btn w-100 py-3">Change Password</button>
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </section>


    <script src="./assets/js/register.js"></script>
</body>
</html>